---
layout: page
icon: 🏠
---

<div class="row">
<div class="half-column">
	<div class="avatar"><img src="/favicon.svg" /></div>
	<div class="menu">
		<a href="/en/"><span class="icon">🌎</span> Available in English! <small>Somewhat.</small></a>
	</div>
	<h1><span class="icon">👤</span> Кто</h1>
	<p><strong>Павел Пеганов</strong>, многим знаком как <strong>D-side</strong>.</p>
	<p>Преимущественно я программист, когда-то целившийся в разработку видеоигр, а ныне обитающий в глубинах серверов. Но занимаюсь и другими вещами: образованием, самообразованием, переводом, самокопанием, мелкой инженерией и нередко <em>ерундой</em>.</p>
	<h2 id="contacts"><span class="icon">✉️</span> Контакты</h2>
	<ul style="margin-top:0;">
		<li>по e-mail: <a href="mailto:dside+web@dside.ru?subject=Привет"><strong>dside@dside.ru</strong></a></li>
		<li>в Matrix: <a href="https://matrix.to/#/@dside:dside.ru"><strong>@dside:dside.ru</strong></a></li>
		<li>в Fediverse (<a href="https://fedi.life/" title="Что это такое?">?</a>): <a href="https://mastodon.ml/@dside" rel="me"><strong>@dside@mastodon.ml</strong></a></li>
		<li>в Telegram: <a href="https://t.me/dside_ru"><strong>@dside_ru</strong></a></li>
	</ul>
	<p>Другие способы тоже есть, но либо теряют актуальность, либо совсем её потеряли. Если известного вам способа нет в списке, лучше им не пользоваться 🙂</p>
	<h2><span class="icon">👀</span> Присутствие</h2>
	<ul style="margin-top:0;">
		<li>На GitHub: <a href="https://github.com/D-side">D-side</a> (<a href="https://github.com/D-side?tab=stars">звёздочки</a>)</li>
		<li>В Steam: <a href="https://steamcommunity.com/id/dside_ru/">dside_ru</a> (<a href="https://steamcommunity.com/id/dside_ru/recommended/">обзоры</a>)</li>
		<li>(пассивно) <a href="https://www.youtube.com/channel/UCCkYGSG0p8fw65pCX1o-uTA">@dside_ru на YouTube</a></li>
		<li>(резервно) в Fediverse: <a href="https://mastodon.online/@dside" rel="me">@dside@mastodon.online</a></li>
		<li>(когда-то) <a href="https://stackoverflow.com/users/2076787/d-side">На Stack Overflow</a>, в т. ч. на <a href="/archive/ru_stackoverflow">русскоязычном</a></li>
		<li>(когда-то) <a href="https://habr.com/ru/users/DsideSPb/">На Хабрахабре</a></li>
	</ul>
	<h2><span class="icon">❌</span> Отсутствие</h2>
	<p>В следующих сетях/сервисах меня либо никогда не было, либо больше нет:</p>
	<ul>
		<li>Keybase</li>
		<li>Facebook</li>
		<li>Twitter</li>
		<li>VK</li>
	</ul>
	<p>Все, кто представляется моим именем в этих сетях — самозванцы.</p>
</div>
<div class='half-column'>
	<article class="BlockAd block">
		<p>👀 Кажется, в вашем браузере нет блокировщика рекламы. Моё уважение вашей выдержке, если это действительно так: мне без блокировщика рекламы в современном Вебе крайне тяжело.</p>
		<p><small>(Блок сделан при помощи небольшого злоупотребления фильтрами из популярного проекта EasyList. Если ваш блокировщик рекламы не использует его, вы можете видеть этот блок по ошибке. Если это случилось, простите!)</small></p>
	</article>
	<h1><span class="icon">📚</span> Что здесь есть?</h1>
	<div class="menu">
		<a href="/tags/"><span class="icon">🏷️</span> Метки, <small>под которыми посты блога</small></a>
		<a href="/archive/ru_stackoverflow/"><span class="icon">📦</span> Архив ответов с ru.SO, <small>откуда я ушёл</small></a>
		<a href="/archive/ru_meta_stackoverflow/"><span class="icon">📦</span> Архив ответов с Меты ru.SO, <small>ибо см. выше</small></a>
		<a href="/blog/"><span class="icon">📝</span> Блог, <small>который больше не пополняется</small></a>
	</div>
	{% for post in site.posts limit:1 %}
	<article class="block">
	  <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
	  <p>{{ post.excerpt }}</p>
		<div class="menu">
			<a href="{{ post.url | prepend: site.baseurl }}"><span class="icon">⏩</span> Читать продолжение</a>
		</div>
	  <ul class="tags">
			<li>{% include date.html date=post.date %}</li>
	    {% for tag in post.tags %}
	      <li>
	        <span><span class="icon">🏷️</span> {{ tag }}</span>
	      </li>
	    {% endfor %}
	  </ul>
	</article>
	{% endfor %}
</div>
</div>

<script type="text/javascript">
  let format = new Intl.DateTimeFormat('default', { timeStyle: 'short', timeZone: 'Europe/Moscow' });
	function updateTime() {
    var container = document.getElementById("local-time");
    if (container === null) {
      container = document.createElement("p");
      container.setAttribute("id", "local-time");
      document.getElementById("contacts").insertAdjacentElement("afterend", container);
    };
    let now = new Date();
    text = `🕰️ Сейчас моё местное время ${format.format(now)}.`;
    container.textContent = text;
  };

  let now = new Date();
  let nextMinuteIn = 60000 - (now.getSeconds * 1000 + now.getMilliseconds());
  setTimeout(() => setInterval(updateTime, 60000), nextMinuteIn);
  updateTime();
</script>
