// Contrast mixer
// Makes light from darkness and the other way round

$tmp: $theme07
$theme07: $theme00
$theme00: $tmp

$tmp: $theme06
$theme06: $theme01
$theme01: $tmp

$tmp: $theme02
$theme02: $theme05
$theme05: $tmp

$tmp: $theme04
$theme04: $theme03
$theme03: $tmp