<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title }}{% if page.url contains "/en/" %}en\{% endif %}{% if page.title %}{{ page.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/assets/paper.css" | prepend: site.baseurl }}">
    <link rel="alternate" type="application/atom+xml" title="D:\side\blog" href="/feed.xml" />
</head>
