<div class="well well-sm">
	<a class="btn btn-block btn-success"></a>
	<a class="btn btn-block btn-warning"></a>
	<a class="btn btn-xs btn-block btn-danger"><i class="icon-share"> </i>Share this page</a>
	<div class="well well-sm">
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
		<a class="addthis_button_preferred_1"></a>
		<a class="addthis_button_preferred_2"></a>
		<a class="addthis_button_preferred_3"></a>
		<a class="addthis_button_preferred_4"></a>
		<a class="addthis_button_compact"></a>
		</div>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-522f67ca3517d395"></script>
	</div>

	<a class="btn btn-xs btn-block btn-info"><i class="icon-pencil"> </i>Contact me</a>
	<div class="well well-sm">
		<ul class="list-unstyled" style="margin:0;">
			<li class="btn btn-xs btn-default btn-block"><i class="icon-skype"> </i>d-side-spb</li>
			<li><a class="btn btn-xs btn-default btn-block" href="https://vk.com/d.side"><i class="icon-vk"> </i>d.side</a></li>
			<li class="btn btn-xs btn-default btn-block">me <i class="icon-envelope"> </i>dside.ru</li>
			<li><a class="btn btn-xs btn-default btn-block" href="http://www.linkedin.com/pub/pavel-peganov/30/2b6/bb5"><i class="icon-linkedin-sign"> </i>Pavel Peganov</a></li>
		</ul>
	</div>

	<a class="btn btn-block btn-xs btn-primary" data-toggle="collapse" data-target=".recent-comments" style="margin-top: 5px;"><i class="icon-comments"> </i>Recent comments</a>
	<div class="recent-comments collapse">
	<script type="text/javascript" src="http://dsideblog.disqus.com/recent_comments_widget.js?num_items=4&hide_avatars=1&excerpt_length=200"></script>
	</div>

</div>
