---
---
// Neat's "debug mode"
// $visual-grid: true
// $sample: #459
// $variation: 00deg

@import themes/base16/embers
@import themes/mix/contrast

@import bourbon
@import fonts
@import font-awesome
@import neat

@import paper/typography
@import paper/grid
@import paper/search
@import syntax

=variate-border-color
  &:nth-child(5n)
    border-color: $theme08
  &:nth-child(5n+1)
    border-color: $theme09
  &:nth-child(5n+2)
    border-color: $theme0A
  &:nth-child(5n+3)
    border-color: $theme0B
  &:nth-child(5n+4)
    border-color: $theme0C

// Uncomment for some craziness
// @import swing

header
  text-align: right

h1#path
  font-family: $monospace
  font-weight: normal
  padding: flex-gutter()
  background-color: $theme07
  color: $theme00
  text-align: left
  font-size: 2em
  border-bottom: 3px solid $theme02
  padding-bottom: 6px
  line-height: 1.2
  a
    border: none
    color: $theme0D
    .exception
      color: $theme00
  &>span:after
    content: "\\"
  @import cursor


.pagination
  text-align: center
  font-size: 3em
  a
    border: none
    &.disabled
      color: $theme02

kbd
  font-size: 0.85em
  font-family: $monospace
  line-height: 0.85em
  display: inline-block
  padding: 0.25em
  background-color: mix($theme0A, $theme00)
  border: 1px solid mix($theme0A, $theme00)
  border-radius: 0.4em
  box-shadow: inset 0.1em 0.2em 0.3em $theme02

time
  $imprint-color: mix($theme0C, $theme05)
  font-family: "Exo 2"
  font-weight: bold
  border: 2px solid $imprint-color
  padding: .2em
  color: $imprint-color

.post
  +pad
  margin-bottom: flex-gutter()
  border-width: 0 3px 3px 0
  border-style: solid
  +variate-border-color

  a.comments
    padding: .3em
    border: none
    color: $theme03

ul.tags
  list-style-type: none
  color: $theme0E
  font-weight: bold
  padding: 0
  & > li
    display: inline-block
    margin-right: 0.3em

.fa
  text-shadow: .1em .1em .3em transparentize($theme0E, 0.3)

ul.menu
  list-style-type: none
  li
    font-size: 1.25em
    border-left: 3px solid
    padding: 0.5em
    +variate-border-color

.palette
  height: 7px
  width: 6.25%
  display: inline-block
  margin: 0
  border: none

  &.theme00
    background-color: $theme00
  &.theme01
    background-color: $theme01
  &.theme02
    background-color: $theme02
  &.theme03
    background-color: $theme03
  &.theme04
    background-color: $theme04
  &.theme05
    background-color: $theme05
  &.theme06
    background-color: $theme06
  &.theme07
    background-color: $theme07
  &.theme08
    background-color: $theme08
  &.theme09
    background-color: $theme09
  &.theme0A
    background-color: $theme0A
  &.theme0B
    background-color: $theme0B
  &.theme0C
    background-color: $theme0C
  &.theme0D
    background-color: $theme0D
  &.theme0E
    background-color: $theme0E
  &.theme0F
    background-color: $theme0F
