---
layout: page
title: Блог
icon: time
---

<div>
	{% for post in paginator.posts %}
	{% include post.html post=post %}
	{% endfor %}
</div>
<nav class="full-column pagination">
	{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path }}">{% include icon.html icon="hand-o-left" %}</a>
	{% else %}
	<a class="disabled">{% include icon.html icon="hand-o-left" %}</a>
	{% endif %}

	<code>{{paginator.page}}/{{paginator.total_pages}}</code>

	{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path }}">{% include icon.html icon="hand-o-right" %}</a>
	{% else %}
	<a class="disabled">{% include icon.html icon="hand-o-right" %}</a>
	{% endif %}
</nav>
<script type="text/javascript">var disqus_shortname = 'dsideblog';</script>
<script type="text/javascript" src="http://dsideblog.disqus.com/count.js" async></script>
