---
title: CV
layout: page-en
icon: 👤
# The contents are packaged into YAML to make future redesigns, if ever necessary, easier.
summary: |
  I build software, **dabbling in code since about 2009** when I wanted to make videogames and **working professionally since 2014** in roles ranging from office tech support to web backend-focused development team lead and job interviewer.

  For programming I primarily use **Ruby**, but have also built working software in numerous other languages, including low-level **C** and functional **Clojure**, and altered existing software in a whole bunch of others too (Python, Lua, Go, TypeScript…). Experience with a wide assortment of technologies tends to give me a slight head start in exploring new tech.

  I'm especially interested in open-source software, sovereign digital infrastructure, federated solutions, knowledge management and Semantic Web; and especially opposed to industries built on user manipulation like advertisement, gambling and the vast majority of "Web3" and mobile videogames. Generally curious, so may be interested in things in between and outside of that.

  My mission is to help people functionally extend their lives by delegating to computers things they're better at without sacrificing people's agency. This manifests in preference for technologies that at least <em>can</em> run on-premises or even client-side, and distaste for SaaS and "cloud" offerings.

work_experience:
  - company:
      name: DataArt
      website: "https://dataart.team/"
    when: "09.2015-09.2022"
    position: "Senior Ruby Developer, Team Lead, Technical Consultant, Interviewer"
    technology: "Ruby, Ruby on Rails, Clojure, JavaScript, AWS, SQL, Redis, Ansible, Kubernetes…"
    description: |
      Apparently a mere year and a half of professional web development experience were enough to land me a position of a senior developer. I was in disbelief at first, but went into the interview nonetheless and passed.

      Spent about a year applying our in-house web scraping solution based on Ruby to new business cases, one of them by myself. Then switched to another team of engineers working for an international ride hailing service, went on to eventually lead that team and joined the group of tech leads in charge of architecting high-level aspects of our solution. It was a long and eventful journey of many cultures, technologies and promotions.

      Additionally, in collaboration with another expert, designed a process of interviewing engineers for a project written in [Clojure](https://clojure.org/). Together we interviewed over 20 people and received glowing testimonials about the interview reports and the development team we assembled.
  - company:
      name: "E-Citrus"
    when: "02.2015-07.2015"
    position: "Ruby Developer"
    technology: "Ruby, Ruby on Rails, PostgreSQL, Redis"
    description: |
      My funniest job application, where I applied *myself*, but mid-interview I was told that I've been *recommended* by someone already at the company, so the interview is mostly a formality. That person turned out to be a fellow developer that I've never met before: they've seen my [answers](https://stackoverflow.com/users/2076787/d-side?tab=answers) and comments on Stack Overflow and knew my expertise.

      One of the two Ruby developers behind a project involving e-commerce, elements of social networking and project tracking in the construction industry. My work was largely database design (PostgreSQL), server-side-rendering Rails development with initial bits of frontend until we were joined by a dedicated frontend engineer.

      Challenges with project management and product design unfortunately sank this project before it had any chance of sailing.
  - company:
      name: 'IAIT "Vector"'
    when: "02.2014-12.2014"
    position: "Software Developer, Office Support Engineer"
    technology: "GameMaker Studio, Ruby on Rails, Linux"
    description: |
      A rather unremarkable first job I got through my connections in game development communities, with the initial plan to build edutainment software, where quite a lot of the time there wasn't much to do, so I learned to build web applications in my free time using Ruby on Rails, a language and framework picked essentially at random.

side_projects:
- title: "Moderation of mastodon.ml"
  subtitle: "Report handling, dispute mediation, community governance"
  when: "2025- now"
  description: |
    After spending a few years on probably the largest Russian-speaking Fediverse server [mastodon.ml](https://mastodon.ml/about) I was offered ownership of the project as its previous owner decided to step down. I politely declined, as I didn't have the resources to support it, but nonetheless joined the server's moderation team.
- title: "Self-hosting & home automation"
  subtitle: "Deployment and maintenance of FOSS-based suite of network services"
  when: "2017- now"
  description: |
    As a hobby, I host numerous network services for use by myself and a small circle of friends and family. Some of these services also serve as a backbone for a small home automation setup, even including a fully local voice assistant.
- title: "Answering questions on Stack Overflow"
  subtitle: "Research, documentation, community governance"
  when: "2014-2017"
  description: |
    Contributed hundreds of answers to the [main Stack Overflow](https://stackoverflow.com/users/2076787/d-side) and [Stack Overflow in Russian](/archive/ru_stackoverflow/). And in the Russian community posted [a number of insightful answers](/archive/ru_meta_stackoverflow/) on community self-governance and moderation (defining and interpreting rules in large communities), participants' mindsets (why people behave the way they do), making sensible decisions in difficult/controversial situations (solving conflicts inside and at the edges of the community) and Russian localization of the platform (which was… an afterthought).

    I largely stopped in 2017 due to disagreement with the direction taken by the company behind Stack Overflow.
- title: "Russian Fan Localization for FTL: Faster Than Light"
  subtitle: "Translation, reverse-engineering and modification of game assets"
  when: "2014-2018"
  description: |
    There was this game I used to enjoy, ["FTL: Faster Than Light" by Subset Games](https://subsetgames.com/ftl.html), about managing a spaceship and its crew on the run from a fleet of pursuing ships. I worked with a team of volunteers to update Russian localization mod after the release of "Advanced Edition" expansion.

    Later I built [a font dissector/patcher](https://github.com/D-side/ftl_font) by reverse-engineering the fonts introduced in one of the later versions of the game.

---

<div class="no-print">
  <h5>🖨️ Printing tips:</h5>
  <ul>
    <li>A PDF version of this page can be obtained by "printing" this page with "Save to PDF" in a desktop web browser</li>
    <li>The CV is structured to offer a succinct summary on the first page, if printing to paper, consider printing only that</li>
    <li>Printed version features a QR code to the full online version</li>
    <li>Blocks like this, with red-shaded background and a dashed "cutout" border, will be omitted in print</li>
  </ul>
</div>

<section>
    <aside class="print-only">
        See the full story online at:<br/>
        <code>https://dside.ru/en/cv/</code><br/>
        <img src="/assets/images/cv-qr.png"/><br/>
    </aside>
    <h3>Pavel Peganov<br/>
    <small>Software engineer / development team lead</small></h3>

    <p class="contacts"><span class="icon">✉️</span> <a href="mailto:me+cv@dside.ru"><span class="address">me+cv@dside.ru</span></a>, <a href="https://t.me/dside_ru"><span class="address">https://t.me/dside_ru</span></a>, <a href="https://matrix.to/#/@dside:dside.ru"><span class="address">@dside:dside.ru</span> (Matrix)</a><br/>
    <span class="no-print"><span class="icon">👤</span> <a href="https://www.linkedin.com/in/dside">LinkedIn</a>, <a href="https://github.com/D-side">GitHub</a>, <a href="https://stackoverflow.com/users/2076787/d-side">StackOverflow</a>, <a href="https://mastodon.ml/@dside">Fediverse (Mastodon)</a><br/></span>
    <span class="icon">📚</span> English (proficient, around C1), Russian (native)<br/>
    <strong><span class="icon">🌐</span> Presently in:</strong> Russia (GMT+3) <span id="local-time" class="no-print"></span></p>

    {{ page.summary | markdownify }}
</section>

<section>
  <h4 id="work">🛠️ Work experience</h4>
  {% for job in page.work_experience %}
  <h5>
    <small><time>{{ job.when }}</time></small>
    <a href="#work-{{forloop.index}}">{{ job.company.name }}</a>
    {% if job.company.website %}(<a href="{{ job.company.website }}">website</a>){% endif %}
    <br/>
    <small><span title="Positions" class="icon">🎩</span> {{ job.position }}</small>
    <br/><small><span title="Technology">⚙️</span> {{ job.technology }}</small>
  </h5>
  {% endfor %}
</section>

<section>
  <h4 id="side-projects">🔧 Side projects</h4>
  {% for project in page.side_projects %}
      <h5><small><time>{{ project.when }}</time></small>
        <a href="#side-{{ forloop.index }}">{{ project.title }}</a>
          <br/><small>🧢 {{project.subtitle}}</small></h5>
  {% endfor %}
</section>

<section style="break-before: page;">
  <h3>📜 Longer story</h3>
</section>

<section>
  <h4>🛠️ Work experience</h4>
  {% for job in page.work_experience %}
    <h5 id="work-{{ forloop.index }}">
      <small><time>{{ job.when }}</time></small>
        {{ job.company.name }}
        {% if job.company.website %}(<a href="{{ job.company.website }}">website</a>){% endif %}
        <small><a href="#work" class="no-print">^</a></small>
        <br/><small>🎩 {{ job.position }}</small>
        <br/><small>⚙️ {{ job.technology }}</small>
    </h5>
    {{ job.description | markdownify }}
  {% endfor %}
</section>

<section>
  <h4>🔧 Side projects</h4>
  {% for project in page.side_projects %}
      <h5 id="side-{{ forloop.index }}">
        <small><time>{{ project.when }}</time></small>
        {{ project.title }}
        <small><a href="#side-projects" class="no-print">^</a></small>
        <br/><small>🧢 {{project.subtitle}}</small></h5>
  {{ project.description | markdownify }}
  {% endfor %}
</section>

<script type="text/javascript">
  // Progressively enhance the page with my local time for those looking to get a vague sense when
  // would be best to contact me.
	let format = new Intl.DateTimeFormat('default', { timeStyle: 'short', timeZone: 'Europe/Moscow' });
	function updateTime() {
	  var container = document.getElementById("local-time");
	  let now = new Date();
	  text = `(local time: ${format.format(now)})`;
	  container.textContent = text;
	};

	let now = new Date();
	let nextMinuteIn = 60000 - (now.getSeconds * 1000 + now.getMilliseconds());
	setTimeout(() => setInterval(updateTime, 60000), nextMinuteIn);
	updateTime();
</script>

<style type="text/css">
@media print {
  /* Lighten print layout exclusively for CV */
  header {
    display: none;
  }

  a {
    border-bottom: none;
  }
}

.contacts .address {
  font-family: 'Fira Mono', monospace;
  background-color: transparent;
}
</style>
