// A single keyed container with all colors of a theme
$theme: (
    theme00: $theme00,
    theme01: $theme01,
    theme02: $theme02,
    theme03: $theme03,
    theme04: $theme04,
    theme05: $theme05,
    theme06: $theme06,
    theme07: $theme07,
    theme08: $theme08,
    theme09: $theme09,
    theme0A: $theme0A,
    theme0B: $theme0B,
    theme0C: $theme0C,
    theme0D: $theme0D,
    theme0E: $theme0E,
    theme0F: $theme0F
)
