---
layout: scaffold
---
<main>
  {% if page.wip %}<div><small><b>Этот пост ещё не написан</b>, то есть, эта страница вскоре будет исправлена, дополнена и расширена. А пока она не является завершённой, не спешите комментировать. Типично в течение недели после публикации я завершаю работу над страницей, в это время принимаю предварительные замечания.</small></div>{% endif %}
  <article>
    <span class="pull-right">{% include date.html date=page.date %}</span>
    {{ content }}
  </article>
  <ul class="tags">
    {% for tag in page.tags %}
      <li>
        <details>
          <summary><span><i class="fa fa-tag"></i> {%capture entry%}{{tag}}{%endcapture%}{{tag}}</span></summary>
        <ul>
        {% for post in site.tags[entry] %}
          <li><a href="{{post.url}}">{{post.title}}</a></li>
        {%endfor%}
        </ul>
        </details>
      </li>
    {% endfor %}
  </ul>
</main>

<main>
	<div id="disqus_thread"></div>
  <script src="/assets/disqus.js" type="text/javascript"></script>
</main>
<noscript>У вас выключен JavaScript, комментарии от Disqus работать не будут. Извините.</noscript>