// Typography
$sans-serif: $helvetica;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: 'Exo 2',  $base-font-family;
$mono-font-family: 'Fira Mono', monospace;
$monospace: $mono-font-family;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(3);

// Colors
$blue: $theme0D;
$dark-gray: $theme01;
$medium-gray: $theme04;
$light-gray: $theme06;
$light-red: $theme0A;
$light-yellow: $theme08;
$light-green: $theme0F;

// Background Color
$base-background-color: $theme01;

// Font Colors
$base-font-color: $theme06;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-font-color;
$hover-link-color: $base-accent-color;
$base-button-color: $theme02;
$hover-button-color: $theme03;

// Border color
$base-border-color: $medium-gray;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
